
  .background{
    background-image: url(img/img.casal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 1440px;
    height: 1050px;
    top: 200px
}

.minha-imagem {
    width: 295px;
    height: 298px; 
    top: 1104px;
    left: 100px;
  }

.cards-2 {
    width: 295px;
    height: 298px; 
    top: 1104px;
    left: 415px;
  }
